---
import { certificates } from "@cv";
---

<div>
  <ul class="flex flex-col gap-4">
    {
      certificates.map(({ name, date, issuer, url }) => {
        const year = new Date(date).getFullYear();
        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <a
                    href={url}
                    target="_blank"
                    class="hover:underline">
                    <h3 class="sm:text-xl font-bold text-[#6daef8]">{name}</h3>
                  </a>
                  <h4 class="font-semibold text-sm sm:text-xl text-gray-600 dark:text-white flex items-center gap-1">
                    {issuer}
                  </h4>
                </div>
                <time class="text-xs pt-2 sm:text-sm text-gray-600/90 dark:text-white/90">{year}</time>
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</div>

