---
import Section from "@/components/cv_page/Section.astro";
import { skills } from "@/cv.json";

import HTML from "@/components/icons/html.astro";
import CSS from "@/components/icons/css.astro";
import JavaScript from "@/components/icons/javascript.astro";
import TypeScript from "@/components/icons/type.astro";
import React from "@/components/icons/react.astro";
import Node from "@/components/icons/node.astro";
import MySQL from "@/components/icons/sql.astro";
import Git from "@/components/icons/git.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Tailwind from "@/components/icons/tailwind.astro";
import Next from "@/components/icons/next.astro";
import AstroIcon from "@/components/icons/AstroIcon.astro";
import Python from "@/components/icons/Python.astro";
import Aws from "@/components/icons/Aws.astro";
import GCP from "@/components/icons/GCP.astro";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  AstroIcon,
  Python,
  Aws,
  GCP,
};
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        let iconName;
        if (name === "Next.js") {
          iconName = "Next";
        } else if (name === "Astro") {
          iconName = "AstroIcon";
        } else if (name === "AWS") {
          iconName = "Aws";
        } else {
          iconName = name;
        }
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon class="no-print" />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
