---
interface Props {
  title: string;
}
import Header from "@/components/main_page/Header.astro";
import Footer from "@/components/main_page/Footer.astro";
const { title } = Astro.props;
import "@fontsource-variable/source-code-pro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Jordi Bayer personal webpage"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>

  <body class="relative text-black dark:text-white">
    <div
      id="header"
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950 bg-[radial-gradient(ellipse_80%_80%at_50%-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))] dark:bg-[radial-gradient(ellipse_80%_80%at_50%-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
    </div>

    <Header />

    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    min-height: 100vh;
  }
  html {
    font-family: "Source Code Pro Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .container {
    /* width: auto; */
    padding: 1rem;
    margin: auto;
  }
</style>
